@import "tailwindcss";
@import "../font/fonts.css";
:root {
  @apply h-full w-full bg-white text-blue-950;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
html {
  @apply 
  scroll-smooth 
  ease-in-out 
  duration-400 
  m-auto 
  h-full w-full;
}
a {
  @apply 
  h-fit w-fit 
  px-2 
  ease-in-out 
  duration-400;
}
.partitions {
  @apply 
  min-h-dvh w-full;
}
#shadow {
  @apply 
  shadow-md
  shadow-black/50;
}
.page_title {
  @apply 
  absolute 
  m-4 md:m-10 
  text-blue-500 text-xl;
}
@media (prefers-reduced-motion: reduce) {F
  html {
    scroll-behavior: auto;
  }
}
