@import "tailwindcss";
@import "../font/fonts.css";
:root {
  @apply h-full w-full bg-white text-blue-950;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
html {
  @apply 
  scroll-smooth 
  ease-in-out 
  duration-400 
  m-auto 
  h-full w-full;
}
a {
  @apply 
  h-fit w-fit 
  px-2 
  ease-in-out 
  duration-400;
}
.partitions {
  @apply 
  min-h-dvh w-full;
}
#shadow {
  @apply 
  shadow-md
  shadow-black/50;
}

.main_container {
  @apply 
  h-full w-full;
}
.page_title {
  @apply 
  absolute 
  m-4 md:m-12 
  text-blue-500 text-xl;
}
.content_container{
  @apply 
  h-full w-full 
  justify-center 
  items-center 
  p-6 pt-16 md:p-20;
}
.content_header{
  @apply 
  w-full md:w-1/2 
  md:ml-5 
  p-3 pl-0 
  text-4xl 
  md:text-6xl 
  font-bold border-b-4 
  border-blue-500;
}

@media (prefers-reduced-motion: reduce) {F
  html {
    scroll-behavior: auto;
  }
}
